.custom-button{
    min-width: 150px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    padding: 0 35px 0 35px;
    font-size: 1.2rem;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    font: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    
}

.custom-button:hover{
    background: black;  
    color: white;  
}

.filteredbtn{
    min-width: 40px;
    height: 30px;
    margin: 0rem 0.2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    outline: none;

}
.filteredbtn:hover{
    background: black;
    color: palevioletred;
}
.inverted{
    
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    opacity: 0.6;
    text-align: center;
   
   

}



