.product-collection{
    min-width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-content: center;
    position: relative;
    margin-bottom: 15px;
    position: relative;
   
}
.image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 7px;
}


   
.collection-footer{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;

}