.about {
    padding: 2rem 2rem 1rem 2rem;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
  }
  .about h1 span {
    color: palevioletred;
    font-style: italic;
    font-size: 3rem;
  }
  .about > div {
    padding: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    text-align: start;
  }
  .btn {
    color: black;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.4s ease;
    font-size: 1.2rem;
  }
  .btn:hover {
    background: #cccccc56;
    color: white;
  }
  .about > div img {
    width: 100%;
    border: 8px solid palevioletred;
    transition: all 0.4s ease-in-out;
  }
  .about > div img:hover {
    transform: scale(1.1);
  }
  @media (min-width: 760px) {
    .about {
        flex-direction: row;
        justify-content: center;
      }
      .about .aboutImg {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .about > div img {
        width: 80%;
      }
  }