
.banner {
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background: rgba(255, 192, 203, 0.342);
  
    height: 100vh;
  }
  .banner::before {
    content: "";
    background: url('../assests/Bannerbgrd.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .banner h1 {
    padding-bottom: 2rem;
  }
  .banner h1 span {
    color: white;
    font-style: italic;
    font-weight: bolder;
  }
  .btn {
    color: black;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.4s ease;
    font-size: 1.2rem;
  }
  .btn:hover {
    background: #cccccc56;
    color: white;
  }