footer {
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
  }
  .moreinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .moreinfo a {
    color: palevioletred;
    text-decoration: none;
    font-style: italic;
  }
  .moreinfo p {
    color: palevioletred;
  }
  @media (min-width: 760px) {
    .moreinfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  }
}
