.nav{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
  
}

.menu-Nav{
  width: 30%;
  padding-top: .1rem;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.menulist{
  margin: 0.1rem;
}

/*.cart_item {
    display: none;
  }
.cart_item a {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: .5rem .3rem;
    transition: all 0.4s ease;
  
  }
.cart_item a:hover {
    background: palevioletred;
    color: white;
  }
  @media (min-width: 760px) {
     .cart_item {
      display: flex;
    }
  }
*/