.spin{
    display:flex;
        justify-items: center;
        align-items: center;
        margin: 10rem auto;
        border: 16px solid black;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border-top: 16px solid palevioletred;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
}
        @-webkit-keyframes spin{
            0%{
                -webkit-transform: rotate(0deg);
            }
            100%{
                -webkit-transform: rotate(360deg);
            }
        }
        @keyframes spin{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg)
            }
      
        }
