.topHeader {
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2.5rem;
    color: white;
  }
  .topHeader .social_icon {
    display: flex;
    align-items: center;
  }
  .topHeader .social_icon > ul > li {
    display: inline-block;
    padding: 0rem 0.5rem;
  }
  .topHeader .social_icon > ul > li > a {
    color: white;
    transition: all 0.4s ease;
  }
  .topHeader .social_icon > ul > li > a:hover {
    color: palevioletred;
  }