* {
 
  box-sizing: border-box;
 
}
body{
  margin: 0;
  padding: 0;
  font-family: cursive, fantasy;
}
.pad{
  padding-left: 2rem ;
  padding-right: 2rem;
}.pad{
  padding-left: 5rem ;
  padding-right: 5rem;
}
@media(min-width: 760px){
  .pad{
    padding-left: 5rem ;
    padding-right: 5rem;
  }
}
@media(min-width: 1125px){
  .pad{
    padding-left: 10rem ;
    padding-right: 10rem;
  }
}